/* Basis instellingen */
* {
  border: solid 2px black;
  overflow: auto;
  margin: 0px;
  box-sizing: border-box;
}

article {
   border: solid 2px red;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: red;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.tekstrechts {
   float: right;
   width: 400px;

}

.kolomRechts {
   float: right;
   width: calc (100%)

}



/* specifieke stijlen */

.plaatjelinks {
    float: left;
    margin-left: 20px;
    width: 500px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: red;
}

.bg {
/* The image used*/
background-image
}



